<!DOCTYPE html>
<html>
    <head>
    <title>Glucose reading</title>
    <!--Download Chart.js for me-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <h1>Saved Glucose Reading</h1>

        <h2>Glucose Trend</h2>
        <!--blank drawing board.-->
        <canvas id="glucoseChart"></canvas>
        <table border="1">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Glucose</th>
            </tr>
            {%for reading in readings%}
            <tr>
                <td>{{ reading[0]}}</td>
                <td>{{ reading[1]}}</td>
                <td>{{ reading[2]}}</td>
            </tr>
            {% endfor%}

        </table>
        <p>
            <a href ="/add"> Add another reading</a>
        </p>

        <script>
            //find the blank canvas where graph will be drawn
            const chartArea = document.getElementById("glucoseChart")
            //draw a fake graph
            new Chart(chartArea, 
                {type : "line",
                data :{
                    labels:[
                        "Reading 1",
                        "Reading 2",
                        "Reading 3",
                        "Reading 4"

                    ],
                    datasets: [{
                        label: "Glucose Level",
                        data :[
                            120,
                            150,
                            130,
                            170
                        ]
                    }]
                }
            });
        </script>
       
    </body>
</html>
