<!DOCTYPE html>
<html>
    <head>
    <title>Glucose reading</title>
    <!--Download Chart.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <h1>Saved Glucose Reading</h1>

        <h2>Glucose Trend</h2>
        <!--blank drawing board.-->
        <canvas id="glucoseChart"></canvas>
        <table border="1">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Glucose</th>
                <th>Delete</th>
            </tr>
            <!--For every row inside readings, repeat the code below.-->
            {%for reading in readings%}
            <tr>
                <td>{{ reading[0]}}</td>
                <td>{{ reading[1]}}</td>
                <td>{{ reading[2]}}</td>

                <td>
                <form action = "/delete/{{loop.index0}}" method="POST">
                    <button>Delete</button>
                </form>
                    
                </td>
            </tr>
            {% endfor%}

        </table>
        <p>
            <a href ="/add"> Add another reading</a>
        </p>

        <script>
            //find the blank canvas where graph will be drawn
            const chartArea = document.getElementById("glucoseChart");
            //draw a  graph
            new Chart(chartArea, {
                type : "line",
                data :{
                    labels: {{dates | tojson}},
                    datasets: [{
                        label: "Glucose Level",
                        data: {{glucose_values | tojson}}
                    }]
                },
                // want to customize how my graph looks
                options:{
                    //showing the x axis
                    scales: {
                        //aply this to x axis
                        x: {

                            // for example the dates, these are the labels 
                            ticks: {
                                // if there are too many dates skip them 
                                autoskip: true,
                                maxTicksLimit: 10
                            }
                        }
                    }
                }
            });
        </script>
       
    </body>
</html>
